<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css"><!--limpa as config padrao do navegador-->
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
    <title>Livro</title>
</head>
<body>
    <header>
        <div class="menu">
            <nav class="navbar">
                <ul>
                    <li><a href="emprestimo.html"><iconify-icon icon="ph:books-fill" ></iconify-icon></a></li>
                    <li><a href="livro.html"><iconify-icon icon="vaadin:open-book"></iconify-icon></a></li>
                    <li><a href="clientes.html"><iconify-icon icon="mdi:user-multiple-add"></iconify-icon></a></li>
                    <li><a href="funcionarios.html"><iconify-icon icon="vaadin:suitcase"></iconify-icon></a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>